.header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  text-align: center;
  padding-top: 1rem;

  &__heading {
    text-transform: uppercase;
  }
}
