.links {
  flex: 1;

  &__flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    padding-bottom: 2rem;
  }
}
